{% extends 'base.html' %}
{% block title %}Whiteboard{% endblock %}


{% block body %}


<!-- Navigation bar with main user functionality -->
<nav class="navbar bg-dark navbar-expand-sm sticky-top bg-body-tertiary" data-bs-theme="dark">
  <a class="p-3 mb-1 navbar-brand" href="#">The Whiteboard</a>
  <div class="container-fluid justify-content-end">
    <button id="open-ca-modal" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#create-account-modal">Create Account</button>
    <button id="open-login-modal" type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#login-modal">Sign In</button>
  </div>
</nav>    

<!-- Homepage picture and prompt -->
<div class="container text-white">
  <div class="row">
    <div class="col-8 offset-4">
      <img src="/static/shady-whiteboard.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-7">
      <h2>Welcome to the Whiteboard!</h2>
      <h4>Create an account or log in to start editing notes</h4>
    </div>
  </div>
</div>
   
<!-- Modal for creating a new user account -->
<div class="modal fade" id="create-account-modal" tabindex="-1" role="dialog" aria-labelledby="create-account-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-account-modal-title">New Account: </h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/create-account">
          <div class="create-account-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="c-username">
          </div>
          <div class="create-account-group">
              <label for="password">Password </label>
              <input type="password" name="password" id="c-password">
          </div>
      </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="create-account-button" type="submit" class="btn btn-primary">Create Account</button>
          </div>
        </form>
      </div>
  </div>
</div>

<!-- Modal for logging into an existing user account -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="login-modal-title">Log In: </h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/login">
          <div class="login-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="l-username">
          </div>
          <div class="login-group">
              <label for="password">Password </label>
              <input type="password" name="password" id="l-password">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="login-button" type="submit" class="btn btn-primary">Log In</button>
      </div>
    </form>
    </div>
  </div>
</div>

  
{% endblock %}