{% extends 'base.html' %}
{% block title %}Whiteboard{% endblock %}

{% block body %}
  <nav class="navbar bg-dark navbar-expand-sm sticky-top bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">The Whiteboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>    

  <h3>Log In</h3>

  <form method="POST" action="/login">
    <div class="login-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="l-username">
    </div>
    <div class="login-group">
        <label for="password">Password </label>
        <input type="text" name="password" id="l-password">
    </div>
    <div class="login-group">
        <input type="submit">
    </div>
</form>

  <h3>Create Account</h3>

  <form method="POST" action="/create-account">
    <div class="create-account-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="c-username">
    </div>
    <div class="create-account-group">
        <label for="password">Password </label>
        <input type="text" name="password" id="c-password">
    </div>
    <div class="create-account-group">
        <input type="submit">
    </div>
  </form>
  
  
{% endblock %}