{% extends 'base.html' %}
{% block title %}{{ user.username }}'s Whiteboard{% endblock %}

{% block body %}
<nav class="navbar bg-dark navbar-expand-sm sticky-top bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ user.username }}'s Whiteboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <form method="POST" action="/new-note">
            <button class="btn btn-outline-success" id="new-note" type="submit">New</button>
          </form>
        </li>
        <li class="nav-item">
          <form method="POST" action="/save-notes">
            <button class="btn btn-outline-primary" id="save-notes" type="submit">Save</button>
          </form>
        </li>
        <li class="nav-item">
          <form method="POST" action="/logout">
          <button class="btn btn-outline-danger" id="log-out" type="submit">Logout</button>
        </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="note-forms">
  {% for note in notes %}
    <form id="{{note.note_id}}" method="post">

      <div class="note-group">
          <input type="text" name="title" id="n-title{{note.note_id}}" value="{{note.title}}">
      </div>

      <div class="note-group">
        <textarea type="text" name="body" id="n-body{{note.note_id}}">{{note.body}}</textarea>
      </div>

      <div class="note-group">
        <!-- <button id="save-note{{note.note_id}}" type="button" class="btn btn-primary btn-sm">Save</button> -->
        <button id="delete-note{{note.note_id}}" type="button" class="btn btn-secondary btn-sm">Delete</button>
      </div>

    </form>
  {% endfor %}
  

  <p>YO</p>

  
    {% for note in shared %}
      {% if note.note_id not in notes %}
        <form id="{{note.note_id}}" method="post">
    
          <div class="note-group">
              <input type="text" name="title" id="n-title{{note.note_id}}" value="{{note.title}}">
          </div>
    
          <div class="note-group">
            <textarea type="text" name="body" id="n-body{{note.note_id}}">{{note.body}}</textarea>
          </div>
    
          <div class="note-group">
            <!-- <button id="save-note{{note.note_id}}" type="button" class="btn btn-primary btn-sm">Save</button> -->
            <button id="delete-note{{note.note_id}}" type="button" class="btn btn-secondary btn-sm">Delete</button>
          </div>
    
        </form>
        {% endif %}
    {% endfor %}
</div>  
  <!-- </div>
  </p> -->
<!-- </form> -->

<script src="/static/whiteboard.js"></script>
  
  
  
{% endblock %}