{% extends 'base.html' %}
{% block title %}{{ user.username }}'s Whiteboard{% endblock %}

{% block body %}
  <!-- Navigation bar with main user functionality -->
<nav class="navbar bg-dark navbar-expand-sm sticky-top bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ user.username }}'s Whiteboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <form method="POST" action="/new-note">
            <button class="btn btn-outline-success" id="new-note" type="submit">New</button>
          </form>
        </li>
        <li class="nav-item">
          <form method="POST" action="/save-notes">
            <button class="btn btn-outline-primary" id="save-notes" type="submit">Save</button>
          </form>
        </li>
        <li class="nav-item">
          <form method="POST" action="/logout">
          <button class="btn btn-outline-danger" id="log-out" type="submit">Logout</button>
        </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
{% if notes %}
<p>Original Notes</p>
{% endif %}
  <!-- Displays all notes associated to the logged in user -->
<div id="note-forms">
  {% for note in notes %}
  <div>
    <form class="form-group" id="{{note.note_id}}" method="post">

      <div class="note-group">
          <input class="form-control" type="text" name="title" id="n-title{{note.note_id}}" value="{{note.title}}" placeholder="Title">
      </div>

      <div class="note-group">
        <textarea class="form-control"type="text" name="body" id="n-body{{note.note_id}}" rows="5">{{note.body}}</textarea>
      </div>

      <div class="btn-group">
        <!-- <input type="text" name="shared-user" id="shared-user{{note.note_id}}"> -->
        <button id="share-button{{note.note_id}}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#share-modal{{note.note_id}}">Share</button>
        <button id="delete-note{{note.note_id}}" type="button" class="btn btn-secondary btn-sm">Delete</button>
      </div>
    </form>
    <br></br>
      
      <div class="modal fade" id="share-modal{{note.note_id}}" tabindex="-1" role="dialog" aria-labelledby="modal-title{{note.note_id}}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title{{note.note_id}}">Share note to: </h5>
              <button type="button" class="btn-close" aria-label="Close" data-dismiss="modal">
                <!-- <span aria-hidden="true">&times;</span> -->
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="note-group">
                  <label for="recipient-name" class="col-form-label">Username: </label>
                  <input type="text" class="form-control" id="shared-user{{note.note_id}}">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="share-note{{note.note_id}}" type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    
  {% endfor %}
</div>  


{% if shared %}
<p>Shared Notes:</p>
{% endif %}
  <!-- Displays notes shared between users, omitting duplicates -->
<div id="shared-notes">
    {% for note in shared %}
      {% if note not in notes %}
        <form id="{{note.note_id}}" method="post">
    
          <div class="note-group">
              <input type="text" class="form-control" name="title" id="n-title{{note.note_id}}" value="{{note.title}}">
          </div>
    
          <div class="note-group">
            <textarea type="text" class="form-control" name="body" id="n-body{{note.note_id}}">{{note.body}}</textarea>
          </div>
    
          <div class="note-group">
            
            <button id="remove-note{{note.note_id}}" type="button" class="btn btn-secondary btn-sm">Remove</button>
          </div>
    {% endif %}
        </form>
    {% endfor %}
</div>
</div>

<script src="/static/whiteboard.js"></script>
  
{% endblock %}