{% extends 'base.html' %}
{% block title %}{{ user.username }}'s Whiteboard{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ user.username }}'s Whiteboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New note</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div id="note-forms">
  {% for note in notes %}
    <form id="{{note.note_id}}" method="post">
      <div class="note-group">
          <!-- <label for="n-title">Title</label> -->
          <input type="text" name="title" id="n-title{{note.note_id}}" value="{{note.title}}">
      </div>
      <div class="note-group">
        <!-- <label for="n-body">Body</label> -->
        <textarea type="text" name="body" id="n-body{{note.note_id}}">{{note.body}}</textarea>
      </div>
      <div class="note-group">
        <button id="save-note{{note.note_id}}">Save</button>
        <button id="delete-note{{note.note_id}}">Delete</button>
        <!-- <input type="submit" value="Save note"> -->

      </div>
    </form>
    {% endfor %}
  </div>  
    <form method="POST" action="/new-note">
      <div class="new-note">
        <button id="new-note">New note</button>
      </div>
    </form>

  </p>
</form>

<script src="/static/whiteboard.js"></script>
  
  
  
{% endblock %}